h1 {
    font-size: 60px;
    font-weight: 500;
    font-style: oblique;
    text-align: center;
    background-color: rgb(169, 227, 246);
}
div.list {
    text-align: center;
}
ul.listcontents {
    display: inline-block;
    text-align: left;
    font-size: 25px;
}

body {
    background-image: url(../images/treesnow.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
img {
    border-width: 5px;
    border-style: solid;
    border-color: rgb(169, 227, 246);
    border-radius: 10px 10px 10px 10px;
    width: 300px;
    height: auto;
}
footer {
    text-align: center;
    background-color: rgb(169, 227, 246);
}